:root {
  --color1: #130a07;
  --color2: #333a2b;
  --color3: #f289ad;
  --color4: #f2bf8a;
  --color5: #f4eb97;
}

.stack-l > * + * {
  margin-top: 1rem;
}

.stack-m > * + * {
  margin-top: 0.75rem;
}

.stack-s > * + * {
  margin-top: 0.5rem;
}
